/* Goole Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

 /* Global CSS */
body{
    font-family: 'Roboto', sans-serif;
}
/* Top Section */
.top-section{

}
h1{
    font-size: 50px;
}
.header-color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
/* Top Section  */